* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #1e1e2f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
  }
  
  .box {
    background-color: #2b2d42;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  h4 {
    font-size: 1.5rem;
    color: #ffcb57;
    text-align: center;
    font-weight: bold;
  }
  
  form {
    display: flex;
    align-items: center;
  }
  
  form .form-control {
    background-color: #3a3d56;
    color: #ffcb57;
    border: 2px solid #ffcb57;
    border-radius: 8px;
    padding: 20px;
    font-size: 1.2rem;
    transition: border-color 0.3s;
  }
  
  form .form-control:focus {
    border-color: #f7a800;
    outline: none;
  }
  
  .btn-outline-light {
    border: 2px solid #ffcb57;
    color: #ffcb57;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    margin-left: 10px;
  }
  
  .btn-outline-light:hover {
    background-color: #ffcb57;
    color: #2b2d42;
    transform: translateY(-2px);
    box-shadow: 0px 8px 15px rgba(255, 203, 87, 0.2);
  }
  
  .btn-outline-light:active {
    transform: translateY(1px);
    box-shadow: none;
  }
  