body {
    background-color: #000;
    display: flex;
    justify-content: center; /* Center canvas horizontally */
    align-items: center; /* Center canvas vertically */
    height: 100vh; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
}

canvas {
    border: 1px solid white; /* Optional: for visibility */
}
